{% extends 'layout.html' %}

{% block title %}
    <title>Modifier l'activité</title>
{% endblock %}

{% block body %}
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/activite/edit">
    <fieldset>
        <h2>Modification d'une activité</h2>
        <br>
        <br>
        <input type="hidden" name="id_activite" size="18" value="{{ activite.id_activite }}" id="id_activite">

        <label for="nom_activite">Nom de l'activité: </label>
        <input id="nom_activite" type="text" maxlength="20" name="nom_activite" value="{{ activite.nom_activite }}" placeholder="Saisir le nom" required>
        <br>
        <br>
        <label for="date_creation">Date de création: </label>
        <input id="date_creation" type="date" name="date_creation" value="{{ activite.date_creation }}" required>
        <br>
        <br>
        <label for="cout_inscription">Coût d'inscription (€): </label>
        <input id="cout_inscription" type="number" max="999" name="cout_inscription" value="{{ activite.cout_inscription }}" required>
        <br>
        <br>
        <label for="type_activite">Type d'activité: </label>
        <input id="type_activite" type="text" maxlength="20" name="type_activite" value="{{ activite.type_activite }}" required>
        <br>
        <br>
        <label for="nb_participants">Nombre de participants: </label>
        <input id="nb_participants" type="number" step="1" name="nb_participants" value="{{ activite.nb_participants }}" required>
        <br>
        <br>
        <label for="localisation_id">Lieu: </label>
        <select name="localisation_id" id="localisation_id" required>
            <option value="">Sélectionner un lieu</option>
            {% for ligne in localisation %}
                 <option value="{{ ligne.id_localisation }}" {%if ligne.id_localisation == activite.localisation_id %}selected{%endif%}>{{ ligne.nom_lieu }}</option>
            {% endfor %}
        </select>

        <br>
        <br>

        <input type="submit" value="Modifier" name="Modifier" class="btn btn-success">
    </fieldset>
  </form>
{% endblock %}